.demoScreen {
    width: 100vw;
    height: 100vh;
    padding: 40px 80px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    z-index: 4;
}

.demoScreenDescription {
    --demoPadding: 80px;
    position: absolute;
    bottom: 0;
    left: var(--demoPadding);
    width: calc(100vw - var(--demoPadding) * 2);
    transition: all 0.6s ease;
    transform: translateY(calc(100% - 24px));
    z-index: 10;
}

.demoScreenDescriptionInner {
    font-family: Franklin;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 28px;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(4px);
    padding: 0px var(--demoPadding) 140px var(--demoPadding);
    border-top: 3px solid var(--gold);
    border-right: 2px solid var(--gold);
    border-left: 2px solid var(--gold);
    width: calc(100vw - var(--demoPadding) * 2);
}

.demoScreenDescription:hover  {
    transform: translateY(0);
}

@keyframes ArrowDown {
    0%,100% {
        transform: translateY(-12px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes ArrowDownMobile {
    0%,100% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(0px);
    }
}

.demoScreenDescription span svg {
    height: 160px;
    transform: rotate(0.7deg);
    margin-top: -88px;
    animation-name: ArrowDown;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.demoScreenDescription p {
    margin-top: 80px;
    -webkit-text-stroke: 0.4px red;
    color: #fff;
}

.demoScreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.demoScreenDescription a {
    position: absolute;
    top: 8px;
    right: 16px;
    transition: all 0.4s ease;
}

.demoScreenBtn {
    position: absolute;
    top: 0px;
    right: 24px;
    transform: rotate(45deg);
    color: var(--gold);
    font-size: 64px;
    cursor: pointer;
    background: none;
    transition: all 0.4s ease;
}

.arrPrev, .arrNext {
    position: absolute;
    top: 50%;
    font-size: 64px;
    color: var(--gold);
    background: none;
    font-family: Seagram;
    transition: all 0.4s ease;
    cursor: pointer;
}

.arrPrev {
    left: 32px;
}

.arrNext {
    right: 32px;
}

.main {
    margin: 160px 80px 40px 80px;
}

.title {
    font-size: 88px;
    text-align: center;
    font-family: London;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 80px 80px 0px 80px;
}

.description {
    margin: 40px 80px;
    text-align: center;
    font-size: 48px;
    font-family: Ancient;
    letter-spacing: 1px;
    color: var(--silver);
    -webkit-text-stroke: #000 0.6px;
}

.worksList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px 24px;
    border: 2px solid var(--gold);
    padding: 64px 24px;
}

.work {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--gold);
    max-width: 540px; 
    min-height: 350px;
    text-align: center;
}

.work::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.itemPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    background: #000;
    transition: all 0.4s ease;
}

.itemButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    background: none;
    font-family: Ancient;
    letter-spacing: 1.4px;
    color: var(--gold);
    display: flex;
    gap: 4px;
    cursor: pointer;
    padding: 8px 16px;
    background: #000;
    border: 2px solid var(--gold);
    transition: all 0.4s ease;
    white-space: nowrap;
}

.itemButton i {
    font-style: normal;
    font-family: London;
    margin-top: -2px;
    display: block;
    transition: color 0.2s ease, transform 0.4s ease;
}

@media (hover:hover) {
    .work::after {
        background: rgba(0, 0, 0, 0);
        transition: all 0.4s ease;
    }

    .work:hover::after{
        background: rgba(0, 0, 0, 0.6);
    }

    .work:hover .itemPhoto {
        transform: scale(1.1);
    }

    .work:hover .itemButton {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    .itemButton {
        opacity: 0;
        transform: translate(-50%, 200px);
    }

    .itemButton:hover {
        color: var(--silver);
        border: 2px solid var(--silver);
        border-radius: 40px;
    }

    .itemButton:hover i {
        transform: rotate(-90deg) translateX(-3px);
    }

    .demoScreenBtn:hover {
        transform: rotate(45deg) scale(1.2);
        color: var(--silver);
    }

    .demoScreenBtn:active {
        transform: rotate(45deg) scale(0.9);
    }

    .demoScreenDescription a:hover {
        color: #fff;
        letter-spacing: 1.5px;
    }

    .arrPrev:hover, 
    .arrNext:hover {
        transform: scale(1.1);
        color: var(--silver);
    }

    .arrPrev:active, 
    .arrNext:active {
        transform: scale(0.9);
    }
}

@media (max-width: 1440px) {
    .main {
        margin: 0 40px;
    }

    .title {
        font-size: 72px;
        margin: 0;
        margin-top: 64px;
    }

    .description {
        font-size: 48px;
    }
}

@media (max-width: 1280px) {
    .title {
        font-size: 64px;
        margin-top: 40px;
    }

    .description {
        font-size: 40px;
        line-height: 1;
    }

    .demoScreen {
        padding: 20px;
    }

    .demoScreenBtn,
    .arrNext,
    .arrPrev {
        -webkit-text-stroke: #000 1.6px;
        font-size: 72px;
    }

}

@media (max-width: 1080px) {
    .worksList {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        padding: 40px;
    }

    .work {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 960px) {
    .description {
        margin: 20px 40px 24px 40px;
    }
    .demoScreenDescription,
    .demoScreenDescriptionInner {
        --demoPadding: 24px;
    }
}

@media (max-width: 840px) {
    .description {
        margin: 20px 0 32px 0;
    }

    .demoScreen {
        width: 100%;
        height: 100%;
        padding: 16px;
        top: 0;
        left: 0;
        transform: translate(-0, -0);
    }

    .work {
        min-height: initial;
    }

    .itemPhoto {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .demoScreenDescription {
        height: 100vh;
        bottom: 0;
        left: 0;
        width: 100vw;
    }

    .demoScreenDescription:hover  {
        transform: translateY(20%);
    }
    
    .demoScreenDescriptionInner {
        width: 100vw;
        height: 100%;
        padding: 0px var(--demoPadding) 40px var(--demoPadding);
    }

    .demoScreenDescriptionInner p {
        margin-top: 24px;
    }
}

@media (max-width: 560px) {
    .main {
        margin: 0 16px;
    }

    .title {
        font-size: 56px;
    }

    .description {
        font-size: 38px;
        margin-top: 16px;
    }
}

@media (max-width: 460px) {
    .demoScreen img {
        object-fit: cover;
        object-position: -70px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 44px;
    }

    .description {
        font-size: 32px;
    }
} 

@media(max-height: 600px) {
    .demoScreenDescription svg {
       
        animation-name: ArrowDownMobile;
    }

    .demoScreenDescriptionInner {
        height: 75vh;
        padding: 0 16px;
   
    }

    .demoScreenDescription:hover {
        transform: translateY(0%);
        height: 75vh;
    }

    .demoScreenDescription:hover p {
        overflow-y: scroll;
        margin-top: -16px;
        height: 100%;
    }

    .demoScreenDescription p::-webkit-scrollbar {
        width: 3px;
       
    }

    .demoScreenDescription p::-webkit-scrollbar-track {
        background: var(--gold);
        border-radius: 24px;
    }

    .demoScreenDescription p::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 24px;
    }

    .demoScreenDescriptionInner {
        padding-bottom: 80px;
    }
}

