.main {
    margin: 0 80px;
    padding: 32px;
    text-align: center;
}

.text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--gold);
    font-size: 88px;
    font-family: London;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.1;
}

.description {
    font-size: 48px;
    font-family: Ancient;
    color: var(--silver);
    font-weight: 400;
    margin-top: 32px;
    line-height: 1.25;
    letter-spacing: 1px;
    -webkit-text-stroke: red 0.4px;
}

.description span {
    color: var(--gold);
    font-family: Seagram;
}

.description i {
    font-style: normal;
    color: var(--gold);
    font-family: Seagram;
}

.marker {
    display: block;
    width: 50%;
    margin-top: 40px;
    border-bottom: 2px solid var(--gold);
}

@media (max-width: 1440px) {
    .main {
        margin: 0 40px;
        padding: 24px;
    }

    .title {
        font-size: 72px;
    }

    .description {
        font-size: 48px;
        line-height: 1.1;
    }
}

@media (max-width: 1280px) {
    .main {
        padding: 16px 24px;
    }

    .title {
        font-size: 64px;
    }

    .description {
        font-size: 40px;
        line-height: 1;
    }
}

@media (max-width: 560px) {
    .main {
        margin: 0 16px;
    }

    .title {
        font-size: 56px;
    }

    .description {
        font-size: 38px;
        margin-top: 16px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 44px;
    }

    .description {
        font-size: 32px;
    }
}